 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/610cf1b4f81a41337a0c59d4_dev_2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 459px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  width: 826px;
  margin: 108px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 826px;
  margin: 121px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1011px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/skiking-photos-AjfiLP2ATXA-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 462px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  width: 826px;
  font-weight: 600;
  margin: 74px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 403px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/oliver-pecker-HONJP8DyiSM-unsplash.jpg");
  background-position: 50% 61.3%;
}

.u-section-3 .u-sheet-1 {
  min-height: 543px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 437px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-3 .u-icon-1 {
  height: 95px;
  width: 95px;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 15px;
}

.u-section-3 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-3 .u-icon-2 {
  height: 95px;
  width: 95px;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 15px;
}

.u-section-3 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-3 .u-icon-3 {
  height: 95px;
  width: 95px;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 15px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px auto 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 788px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 43px auto 0 184px;
}

.u-section-4 .u-image-1 {
  width: 698px;
  height: 383px;
  margin: 38px 66px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 826px;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-right: 22px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 138px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 296px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 87px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 186px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/adam-birkett-QRWAdBCqysc-unsplash.jpg");
  background-position: 50% 28.73%;
}

.u-section-5 .u-sheet-1 {
  min-height: 537px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  width: 826px;
  margin: 91px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/bug-logic-8pj1XffYJAI-unsplash.jpg");
  background-position: 50% 0%;
}

.u-section-6 .u-sheet-1 {
  min-height: 593px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 83px auto 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 325px;
  width: 864px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 489px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
}